@tailwind base;
@tailwind components;
@tailwind utilities;

.highlight__circle-12 {
    @apply top-[55%] left-[80%] ;
}
.highlight__circle-156 {
    @apply top-[-40%] left-[100%] ;

}
.highlight__circle-36 {
    @apply top-[35%] left-[90%] ;
}
.highlight__circle-200 {
    @apply top-[0%] left-[-5%] ;
}

.highlight__circle-anim {
    animation: pop 0.8s backwards 
        cubic-bezier(.17,.67,.19,.93);
    transform-origin: bottom left;
}

.brand__anim {
    animation: fadeIn 0.5s backwards 
        ease-in-out;
        animation-delay: 300ms;
    transform-origin: top center;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scaleY(0%);
    }
    100% {
        opacity: 1;
        transform: scaleY(1);
    }
}

@keyframes pop {
    0% {
        scale: 0
    }
    80% {
        scale: 1.1
    }
    100% {
        scale: 1
    }
}